@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 240 8% 95%;
    --foreground: 240 8% 5%;

    --card: 240 10% 94%;
    --card-foreground: 240 8% 5%;

    --popover: 240 10% 94%;
    --popover-foreground: 240 8% 5%;

    --primary: 240 52% 67%;
    --primary-foreground: 240 9% 2%;

    --secondary: 240 12% 91%;
    --secondary-foreground: 240 8% 5%;

    --muted: 240 8% 91%;
    --muted-foreground: 240 9% 45%;

    --accent: 240 8% 91%;
    --accent-foreground: 240 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 9% 87%;
    --input: 240 9% 80%;
    --ring: 240 36% 72%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 180 7% 8%;
    --foreground: 180 9% 98%;

    --card: 180 6% 10%;
    --card-foreground: 180 9% 98%;

    --popover: 180 6% 10%;
    --popover-foreground: 180 9% 98%;

    --primary: 187 72% 93%;
    --primary-foreground: 240 9% 2%;

    --secondary: 188 8% 19%;
    --secondary-foreground: 180 9% 98%;

    --muted: 185 7% 29%;
    --muted-foreground: 186 8% 49%;

    --accent: 187 71% 19%;
    --accent-foreground: 180 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 192 8% 12%;
    --input: 187 9% 18%;
    --ring: 187 73% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.container {
  perspective: 1000px;
  margin-bottom: 3px;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
